<launch>
  <arg name="cam_dev"    default="/dev/video0" />
  <arg name="cam_width"  default="1280" />
  <arg name="cam_height" default="720" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="$(arg cam_dev)" />
    <param name="image_width"  value="$(arg cam_width)" />
    <param name="image_height" value="$(arg cam_height)" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera" />
  </node>

  <arg name="markerSize" default="0.05"/> <!-- in meter -->
  <arg name="ref_frame" default=""/> <!-- leave empty and the pose will be published wrt param parent_name -->

  <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher">
    <remap from="/camera_info" to="/usb_cam/camera_info" />
    <remap from="/image" to="/usb_cam/image_raw" />
    <param name="image_is_rectified" value="True"/>
    <param name="marker_size"        value="$(arg markerSize)"/>
    <param name="reference_frame"    value="$(arg ref_frame)"/>   <!-- frame in which the marker pose will be refered -->
    <param name="camera_frame"       value="base_link"/>
  </node>

  <node pkg="camera_system" type="command_sender.py" name="Command_sender" />
  <node pkg="camera_system" type="detect_position.py" name="Detect_position" />

</launch>
